Flask==1.1.2
Flask-SQLAlchemy==2.4.4
psycopg2-binary==2.8.6
psycopg2==2.8.6
Flask-Testing==0.8.0
gunicorn==20.0.4
coverage==5.3
flake8==3.8.4
flask-debugtoolbar==0.11.0
Flask-Cors==3.0.9
Flask-Migrate==2.5.3
flask-bcrypt==0.7.1
PyJWT==1.7.1